/* Html Tags*/

body{
  text-align: center;
    margin: auto;
}

hr{
  border-style: dotted;
  border-width: 5px;
  border-bottom: none;
  color: rgb(255, 224, 230);
  width: 5%;
}

h1{
  color: #FF5072;
  font-family: "Sacramento",sans-serif;
  font-size: 5rem;
  margin-bottom: auto;
}

h2{
  color: #FF5072;
  font-family: "Montserrat",sans-serif;
  font-size: 2.5rem;
}

h3{
  color: #FF5072;
  font-family: "Montserrat",sans-serif;
}

p{
  color: #40514E;
  font-family: "Montserrat",sans-serif;
  line-height: 2;
}

a:hover{
  color: #FFFFFF;
}

/* class tags*/

.top-cloud{
  margin-top: 30px;
  position: relative;
  left: 300px;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
}

.top-container{
  background-color: rgb(255, 224, 230);
}

.profile{
  margin: 50px auto;
}

.intro{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.chilli{
  border-radius: 50%;
  width: 200px;
  float: left;
  margin-right: 50px;
  clear: right;
}

.chillies{
  border-radius: 50%;
  width: 200px;
  float: right;
  margin-left: 50px;
  clear: left;
}

.contact-me{
  margin: 100px auto;
}

.Contact-text{
  margin: 40px auto;
}


  .btn {
  background: rgb(255, 224, 230);
  background-image: -webkit-linear-gradient(top, rgb(255, 224, 230), #FF5072);
  background-image: -moz-linear-gradient(top, rgb(255, 224, 230), #FF5072);
  background-image: -ms-linear-gradient(top, rgb(255, 224, 230), #FF5072);
  background-image: -o-linear-gradient(top, rgb(255, 224, 230), #FF5072);
  background-image: linear-gradient(to bottom, rgb(255, 224, 230), #FF5072);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FF5072;
  background-image: -webkit-linear-gradient(top, #FF5072, rgb(255, 224, 230));
  background-image: -moz-linear-gradient(top, #FF5072, rgb(255, 224, 230));
  background-image: -ms-linear-gradient(top, #FF5072, rgb(255, 224, 230));
  background-image: -o-linear-gradient(top, #FF5072, rgb(255, 224, 230));
  background-image: linear-gradient(to bottom, #FF5072, rgb(255, 224, 230));
  text-decoration: none;
}

.bottom-container{
  background-color: rgb(255, 224, 230);
  padding: 50px 0 20px 0;
}

.copyright{
  margin-bottom: 0;
  color:#FF5072;
  font-weight: bold;
}

.footer-link{
  margin: 10px 20px 5px 20px;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  color: #FF5072;
  font-weight: normal;

}
